# Creds
Pulumi.*.yaml
creds.yml
admin.conf
credentials
*.client.conf

# Builds
build/*
bin/
packer_cache
.vagrant/
*.iso
*.qcow2
output/*
*local*

# NodeJS
node_modules
integration-tests/dist
__debug*

# Python
.venv
venv
__pycache__/
.pytest_cache/
*.py[cod]

# DotNet
sdk/dotnet/obj

# Project-specific
tests/test-project
provider/cmd/pulumi-resource-talos-cluster/schema.go
.current_test_dir
kubeconfig
talosconfig
kube.yaml
talosctl.yaml

# Other
*sublime-workspace
*.png

# Python artifacts
*.egg-info/
