name: Run integration tests

on:
  push:
    branches:
      - main
      - preview
  workflow_dispatch:
    inputs:
      test:
        type: choice
        options:
          - TestHcloudClusterGo
          - TestHcloudClusterJS
          - all
        description: "The test to run. Defaults to `all`"
        required: true
        default: 'TestHcloudClusterGo'

jobs:
  TestHcloudClusterGo:
    if: contains(fromJson('["all", "TestHcloudClusterGo"]'), inputs.test) || github.ref == ${{ github.event.repository.default_branch }}
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: go
      command: make integration_tests_go TEST=TestHcloudClusterGo
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
  TestHcloudClusterJS:
    if: contains(fromJson('["all", "TestHcloudClusterJS"]'), inputs.test) || github.ref == ${{ github.event.repository.default_branch }}
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: nodejs
      command: make integration_tests_nodejs TEST=TestHcloudClusterJS
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
