name: Run integration tests

on:
  push:
    branches:
      - main
      - preview
  workflow_dispatch:
    inputs:
      test:
        type: choice
        options:
          - TestHcloudClusterGo
          - TestHcloudClusterJS
          - TestHcloudHAClusterGo
          - TestHcloudHAClusterPy
          - all
        description: "The test to run. Defaults to `all`"
        required: true
        default: 'TestHcloudClusterGo'

jobs:
  TestHcloudClusterGo:
    if: contains(fromJson('["all", "TestHcloudClusterGo"]'), inputs.test) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: go
      test: TestHcloudClusterGo
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
  TestHcloudHAClusterGo:
    if: contains(fromJson('["all", "TestHcloudHAClusterGo"]'), inputs.test) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: go
      test: TestHcloudHAClusterGo
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
  TestHcloudClusterJS:
    if: contains(fromJson('["all", "TestHcloudClusterJS"]'), inputs.test) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: nodejs
      test: TestHcloudClusterJS
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
  TestHcloudHAClusterPy:
    if: contains(fromJson('["all", "TestHcloudHAClusterPy"]'), inputs.test) || github.ref == 'refs/heads/main'
    uses: ./.github/workflows/reuse-run-integration-tests.yaml
    with:
      name: ${{ inputs.test }}
      runtime: nodejs
      test: TestHcloudHAClusterPy
    secrets:
      google-credentials: ${{ secrets.GOOGLE_CREDENTIALS }}
      hcloud-token: ${{ secrets.HCLOUD_TOKEN }}
