name: The reusable workflow for deploying the exacly one cluster and execute tests
run-name: The test ${{ inputs.name }} by @${{ github.actor }}

env:
  PULUMI_BACKEND: gs://spigell-infra-talos-pulumi-states
  PULUMI_SECRET_PROVIDER: gcpkms://projects/spigell-infra/locations/global/keyRings/spigell-infra-keyring/cryptoKeys/spigell-infra-talos-pulumi-key
  TALOSCTL_VERSION: v1.10.6

on:
  workflow_call:
    inputs:
      name:
        required: false
        type: string
      runtime:
        type: string
        required: true
        default: go
      test:
        type: string
        required: true
    secrets:
      google-credentials:
        required: true
      hcloud-token:
        required: true


jobs:
  test:
    runs-on: ubuntu-24.04
    name: Run tests
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set gcloud auth pulumi
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: '${{ secrets.google-credentials }}'

      - name: Get actions
        run: |
          git clone "$GITHUB_SERVER_URL/spigell/my-shared-workflows" ./.github/actions_ext

      - name: Setup Pulumi Go env
        uses: ./.github/actions_ext/.github/actions/setup-pulumi-env
        with:
          runtime: ${{ inputs.runtime }}
          working-directory: 'integration-tests'

      - name: Install talosctl
        uses: jaxxstorm/action-install-gh-release@v1.10.0
        with:
          repo: siderolabs/talos
          rename-to: talosctl
          chmod: 0755
          extension-matching: disable
          tag: ${{ env.TALOSCTL_VERSION }}
      - name: Run the test
        env:
          HCLOUD_TOKEN: ${{ secrets.hcloud-token }}
          PULUMI_CLOUD_URL: ${{ env.PULUMI_BACKEND }}
        run: make integration_tests_${{ inputs.runtime }} TEST=${{ inputs.test }}
        working-directory: integration-tests

      - name: Upload talos home artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: talos-home-${{ inputs.name && inputs.name || 'stack' }}
          path: /tmp/talos-home-for-*
          if-no-files-found: ignore
